@import "tailwindcss";


html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html,
body {
  scrollbar-width: none;
}

html,
body {
  -ms-overflow-style: none;
}


@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
@keyframes marquee-vertical {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}
.animate-marquee {
  animation: marquee var(--duration) linear infinite;
}
.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}
.partners {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
}
.logo {
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid rgba(148, 163, 184, 0.15);
  border-radius: 20px;
  /* background: rgba(148, 163, 184, 0.03); */
  transition:
    transform 0.3s ease,
    border-color 0.3s ease,
    background 0.3s ease,
    box-shadow 0.3s ease;

  overflow: hidden;
}
.logo img {
  width: 100%;
  max-width: 190px;
  height: 90px;
  object-fit: contain;
  filter: grayscale(100%);
  transition:
    filter 0.3s ease,
    opacity 0.3s ease,
    transform 0.3s ease;
}
.logo:hover img {
  filter: grayscale(0%);
  opacity: 1;
  transform: scale(1.06);
}